#navBox #navBar li {
  height: 33.33%; }

#movies_page .contain {
  background: #fff; }
  #movies_page .contain .tab-btn {
    width: 100%;
    height: 142px;
    padding: 0 152px;
    line-height: 142px;
    box-sizing: border-box; }
    #movies_page .contain .tab-btn li {
      margin-right: 82px;
      height: 100%;
      float: left; }
      #movies_page .contain .tab-btn li a {
        font-size: 24px;
        color: #565656;
        font-family: Baskvill; }
    #movies_page .contain .tab-btn li.active > a {
      font-size: 40px;
      color: #131317; }
  #movies_page .contain .tab_container {
    width: 100%;
    height: calc(100% - 142px);
    padding: 0 152px;
    box-sizing: border-box; }
    #movies_page .contain .tab_container .tab_container_inner {
      width: 100%;
      position: relative;
      height: 100%; }
    #movies_page .contain .tab_container .tab_content {
      width: 100%;
      height: 100%;
      padding-bottom: 60px;
      box-sizing: border-box;
      background: #fff;
      position: absolute;
      top: 0;
      left: 0;
      display: none; }
    #movies_page .contain .tab_container .tab_container_inner .tab_content:first-child {
      display: block; }
    #movies_page .contain .tab_container .movies-info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
    #movies_page .contain .tab_container .the_movie {
      width: 700px;
      height: 360px;
      background: #e5e5e5;
      display: flex;
      margin-bottom: 40px; }
      #movies_page .contain .tab_container .the_movie .the_img {
        width: 253px; }
        #movies_page .contain .tab_container .the_movie .the_img img {
          width: 100%;
          height: 100%; }
      #movies_page .contain .tab_container .the_movie .the_info {
        flex: 1;
        background: #f3f3f3; }
        #movies_page .contain .tab_container .the_movie .the_info .the_lan {
          display: block;
          background: #e5e5e5;
          text-align: center;
          padding: 18px 0;
          font-size: 17px;
          color: #000;
          line-height: 24px; }
        #movies_page .contain .tab_container .the_movie .the_info .msg {
          padding-left: 54px;
          padding-top: 20px;
          font-size: 16px;
          color: #4c4c4c;
          box-sizing: border-box; }
          #movies_page .contain .tab_container .the_movie .the_info .msg p {
            margin-bottom: 15px; }
    #movies_page .contain .tab_container .btn_control {
      width: 73px;
      height: 73px;
      line-height: 73px;
      text-align: center;
      border-radius: 50%;
      background: #e5e5e5;
      position: absolute;
      top: 41%; }
      #movies_page .contain .tab_container .btn_control img {
        vertical-align: middle;
        cursor: pointer; }
    #movies_page .contain .tab_container .btn_control.prev {
      left: -90px; }
    #movies_page .contain .tab_container .btn_control.dis {
      display: none; }
    #movies_page .contain .tab_container .btn_control.next {
      right: -90px; }
    #movies_page .contain .tab_container .line-box {
      width: 100%;
      height: 28px;
      line-height: 28px;
      text-align: center;
      position: absolute;
      left: 0;
      bottom: 30px; }
      #movies_page .contain .tab_container .line-box .line-list {
        display: inline-block;
        height: 100%; }
        #movies_page .contain .tab_container .line-box .line-list li {
          width: 3px;
          height: 14px;
          background: #bbbbbb;
          margin-right: 20px;
          display: inline-block; }
        #movies_page .contain .tab_container .line-box .line-list li.current {
          height: 28px;
          background: #ff9c0e;
          position: relative;
          bottom: -7px; }
        #movies_page .contain .tab_container .line-box .line-list li:last-child {
          margin-right: 0; }

.banner {
  background-color: #fff;
  display: flex !important; }
  .banner .banner-left {
    align-self: center;
    flex: 1;
    text-align: center; }
    .banner .banner-left .title {
      font-size: 64px;
      color: #404040;
      font-weight: 400;
      font-family: Baskvill; }
    .banner .banner-left .banner-menu {
      font-size: 20px;
      color: #131317; }
      .banner .banner-left .banner-menu li {
        margin-top: 50px;
        cursor: pointer; }
        .banner .banner-left .banner-menu li span {
          position: relative;
          font-family: Baskvill; }
          .banner .banner-left .banner-menu li span:hover:before {
            display: block; }
          .banner .banner-left .banner-menu li span:before {
            display: none;
            content: '';
            position: absolute;
            left: -30px;
            top: 5px;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-left: 10px solid #131518;
            border-bottom: 5px solid transparent; }
  .banner .banner-right {
    width: 1087px; }

@media (max-width: 1820px) {
  #movies_page .contain .tab_container .the_movie {
    width: 48%; }

  #movies_page .contain .tab_container .the_movie .the_info .msg {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box; }

  #movies_page .contain .tab_container .the_movie .the_info .msg p {
    margin-bottom: 12px; } }
@media (max-width: 1580px) {
  #movies_page .contain .tab_container {
    padding: 0 100px; }

  #movies_page .contain .tab-btn {
    padding: 0 100px; }

  #movies_page .contain .tab_container .the_movie .the_info .msg {
    font-size: 15px; }

  #movies_page .contain .tab_container .the_movie .the_info .the_lan p:first-child {
    line-height: 20px; } }
@media (max-width: 1520px) {
  #movies_page .contain .tab_container {
    padding: 0 90px; }

  #movies_page .contain .tab-btn {
    padding: 0 90px; }

  #movies_page .contain .tab_container .btn_control.next {
    right: -80px; }

  #movies_page .contain .tab_container .the_movie {
    height: 318px; }

  #movies_page .contain .tab_container .the_movie .the_img {
    width: 225px; }

  #movies_page .contain .tab_container .the_movie .the_info .msg {
    padding: 15px; }

  #movies_page .contain .tab_container .the_movie .the_info .the_lan {
    padding: 15px 0; }

  #movies_page .contain .tab_container .the_movie .the_info .msg p {
    margin-bottom: 10px; } }
@media (max-height: 880px) {
  #movies_page .contain .tab-btn {
    height: 110px;
    line-height: 110px; }

  #movies_page .contain .tab_container {
    height: calc(100% - 110px); } }
@media (max-height: 860px) {
  #movies_page .contain .tab-btn {
    height: 100px;
    line-height: 100px; }

  #movies_page .contain .tab_container .line-box {
    bottom: 20px; }

  #movies_page .contain .tab_container .the_movie {
    margin-bottom: 30px; }

  #movies_page .contain .tab_container {
    height: calc(100% - 100px); } }
@media (max-height: 825px) {
  #movies_page .contain .tab-btn {
    height: 90px;
    line-height: 90px; }

  #movies_page .contain .tab_container .line-box {
    bottom: 15px; }

  #movies_page .contain .tab_container {
    height: calc(100% - 90px); } }

/*# sourceMappingURL=movies.css.map */
